@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Raleway;
  .intro {
    color: rgb(0, 0, 54);
    font-size: 10vh;
    margin: 0;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadein 1s alternate infinite;
    span {
      font-size: 5vh;
      padding: 0;
      animation: fadein 2s alternate infinite;
    }
  }
  .app {
    height: 100vh;
    background-position: 0 0;
    background-size: cover;
    animation: fadein 2s, scrolling 30s infinite alternate-reverse;
    .overlay {
      background-color: rgba(0, 0, 54, 0.6);
      animation: vaporwave 10s infinite alternate-reverse;
      width: 100vw;
      height: 100vh;
    }
    form {
      background-color: transparent;
      position: fixed;
      top: 20vh;
      left: 50vw;
      width: 75vw;
      height: 10vh;
      transform: translate(-50%, 0);
      border-radius: 10%;
      border: 0.5vh solid white;
      input {
        height: 100%;
        width: 70%;
        font-size: 5vh;
        border-radius: 20%;
        border: none;
        background-color: transparent;
        color: white;
        font-family: Raleway;
      }
      button {
        width: 28%;
        height: 100%;
        font-size: 5vh;
        background-color: transparent;
        border: none;
        color: white;
      }
    }
    .results {
      position: absolute;
      animation: fadein 2s;
      width: 100vw;
      top: 40vh;
      text-align: center;
      font-size: 7vh;
      .temp {
        font-size: 10vh;
      }

      img {
        height: 5vh;
      }
    }
    .info {
      position: fixed;
      top: 10vh;
      left: 50vw;
      font-size: 4vh;
      transform: translate(-50%, -50%);
      animation: fadein 1s;
    }
  }
}

@keyframes vaporwave {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  25% {
    background-color: rgba(0, 0, 100, 0.8);
  }
  50% {
    background-color: rgba(50, 0, 54, 0.8);
  }
  75% {
    background-color: rgba(50, 0, 100, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 54, 0.8);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrolling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes ridein {
  0% {
    font-size: 0;
  }
  100% {
    font-size: 8vh;
  }
}
