body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  .app {
    height: 100vh;
    background-position: 0 0;
    animation: fadein 2s, scrolling 30s infinite alternate-reverse;
    .overlay {
      background-color: rgba(0, 0, 54, 0.6);
      animation: vaporwave 10s infinite alternate-reverse;
      width: 100vw;
      height: 100vh;
    }
    form {
      background-color: transparent;
      position: fixed;
      top: 20vh;
      left: 50vw;
      width: 75vw;
      height: 10vh;
      transform: translate(-50%, 0);
      border-radius: 10%;
      border: 0.5vh solid white;
      input {
        height: 100%;
        width: 70%;
        font-size: 5vh;
        border-radius: 20%;
        border: none;
        background-color: transparent;
      }
      button {
        width: 28%;
        height: 100%;
        font-size: 5vh;
        background-color: transparent;
        border: none;
        color: white;
      }
    }
    .results {
      position: absolute;
      animation: fadein 2s;
      width: 100vw;
      top: 40vh;
      text-align: center;
      font-size: 7vh;
      .temp {
        font-size: 10vh;
      }
      i {
        // font-size: 15vh;
      }
      img {
        height: 5vh;
      }
    }
  }
}

@keyframes vaporwave {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
  }
  25% {
    background-color: rgba(0, 0, 100, 0.8);
  }
  50% {
    background-color: rgba(50, 0, 54, 0.8);
  }
  75% {
    background-color: rgba(50, 0, 100, 0.8);
  }
  100% {
    background-color: rgba(0, 0, 54, 0.8);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scrolling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
